DTS Chart:
%br
name: 
= dts.name
%br
function:
= dts.function
%br
sampling rate: 
= dts.sampling_rate
/ %br
/ sampling period: 
/ = dts.sampling_period.round(3)
%br
periods:
= dts.periods
%br
%div.dts-chart{ id: "dts-#{dts.jsid}-time-amplitude-chart" }
%br
Magnitude (Discrete Fourier Transform)
%div.dts-chart{ id: "dts-#{dts.jsid}-time-magnitude-chart" }
%script
	chart_amplitude("dts-#{dts.jsid}-time-amplitude-chart", "#{dts.amplitudes.map { |a| a.round(2) } }");
	chart_magnitude("dts-#{dts.jsid}-time-magnitude-chart", "#{dts.magnitudes.map { |a| a.round(2) } }");