DTS Chart:
%br
name: 
= dts.name
%br
function:
= dts.function
%br
sampling rate: 
= dts.sampling_rate
%br
legth:
= dts.seconds.round(3)
seconds
%br
samples:
= dts.samples
%p
- if pressure
	%b Pressure
	%div.sound-graphic-chart{ id: "sound-graphic-#{dts.jsid}-chart" }
	%br
%b Wave
%div.dts-chart{ id: "dts-#{dts.jsid}-time-amplitude-chart" }
%br
%br
%b Magnitude (Fourier Transform)
%div.dts-chart{ id: "dts-#{dts.jsid}-time-magnitude-chart" }
%script
	chart_sound_pressure("sound-graphic-#{dts.jsid}-chart", "#{@dts.amplitudes.map { |a| a.round(2) } }");
	chart_amplitude("dts-#{dts.jsid}-time-amplitude-chart", "#{dts.amplitudes.map { |a| a.round(2) } }", "#{dts.seconds}");
	chart_magnitude("dts-#{dts.jsid}-time-magnitude-chart", "#{dts.magnitudes.map { |a| a.round(2) } }");
%br
/ - dts.samples.times do |i|
/ 	Frequency:
/ 	= i
/ 	%br
/ 	%div.dts-chart{ id: "dts-#{dts.jsid}-dts-step-#{i}-chart" }
/ 	%script
/ 		chart_dft_frequency("dts-#{dts.jsid}-dts-step-#{i}-chart", "#{dts.amplitudes}", "#{dts.dft_data[:real][i][:cos]}", "#{dts.dft_data[:real][i][:cor]}");
/ 	%table
/ 		%tr
/ 			%th
/ 				n
/ 			%th
/ 				original
/ 			%th
/ 				cosine
/ 			%th
/ 				correlation
/ 		- dts.samples.times do |j|
/ 			%tr
/ 				%td
/ 					= j
/ 				%td
/ 					= dts[j].round(2)
/ 				%td
/ 					= dts.dft_data[:real][i][:cos][j].round(2)
/ 				%td
/ 					= dts.dft_data[:real][i][:cor][j].round(2)

