DTS Chart:
%br
name: 
= dts.name
%br
sampling rate: 
= dts.sampling_rate_str
%br
sampling period: 
= dts.sampling_period.round(3)
%br
samples:
= dts.samples
%br
%div.dts-time-amplitude-chart{ id: "dts-#{dts.name.gsub(' ', '-').gsub('+', 'plus')}-time-amplitude-chart" }
%script
	dts_time_amplitude_chart("dts-#{dts.name.gsub(' ', '-').gsub('+', 'plus')}-time-amplitude-chart", "#{dts.amplitudes.map { |a| a.round(2) } }");